.header {
	background: linear-gradient(rgba(255, 0, 0, 0.733), rgba(107, 14, 14, 0.658));
	/* ,url("../../../img/header.jpg"); */
	padding: 5px;

	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
}

.header__container {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	/* width: 335px; */
	height: 60px;
}
.header__nav {
	display: flex;
	justify-content: space-around;
}

.header__nav-left {
	display: flex;
}
.header__nav-right {
	display: flex;
	align-items: center;
}

.header__link {
	color: white;
	display: block;
	border-radius: 100px;
	margin-left: 10px;
	text-decoration: none;

	text-transform: uppercase;
	font-family:  AmaticSC;
	font-size: 26px;
	border: 1px solid transparent;
	padding: 10px;
	transition: 1s;
	
}

.header__link:hover{
	border-radius: 1px;
	border-bottom: 1px solid #ffffff;
	color: #d2c9dd;
	
}

.cart__link {
	font-size: 27px;
	position: relative;
	bottom: 5px;
}

.header__cart{
	width: 40px;
}

.cart__amount{
	position: absolute;
	font-family: AmaticSC;
	left: 25px;
	top: -10px;
	/* background: rgb(98, 0, 255); */
	color: rgb(202, 200, 200);
	width: 20px;
	height: 20px;
	border-radius: 100px;
	padding: 3px 5px;
	font-size: 28px;
	font-weight: 700;
}

.header__icon {
	width: 35px;
	height: 35px;
}

.header__select {
	background: transparent;
	color: white;
	border: none;
}

.header__option {
	color: black;
	background: #cccccccc;
	outline: none;
}

/* ------------------------ */
.auth__image {
	display: block;
	margin: 0 auto;
}
.auth__wrapper {
	display: flex;
	margin-top: 30px;
}

.auth__preinput {
	color: rgb(255, 255, 255);
	background: black;
	border: 1px solid black;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	padding: 5px 30px;
	font-family: Pompiere;
	font-size: 30px;
}
.auth__input {
	width: 100%;
	padding: 5px;
	display: block;
	border: 1px solid black;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}

.auth__input::placeholder {
	font-family: Pompiere;
	font-size: 30px;
}


/* respinsive */

@media (max-width: 450px) {
	.header__container {
		margin: 0 auto;
		display: block;
	}

	.header__nav-right {
		margin: 0 auto;
		width: 35%;
		margin-top: 10px;
	}

	.header__logo {
		margin: 0 auto;
		width: 100%;
	}

	.header__nav-left {
		flex-wrap: wrap;
		justify-content: center;
	}
	
}
