.clothes {
	background: url('../../../img/bg2.png') 50% no-repeat;
	background-size: cover;
	/* background: black; */
	width: 100%;
	/* height: 100%; */
	border-top: 1px solid transparent;
}

.clothes__container {
	width: 90%;
	margin: 0 auto;
	margin-top: 170px;
}

.Clothes__top {
	background: rgba(228, 228, 228, 0.918);
	padding: 30px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.clothes__title {
	color: aliceblue;
	margin-left: 40%;
}

.clothes__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 0.25fr));
	column-gap: 15px;
	row-gap: 15px;

	padding-bottom: 100px;
}

.clothes__img {
	width: 100%;
	height: 200px;
	display: block;
	transition: 1s;
}

.clothes__card {
	cursor: pointer;
	background: rgb(53, 53, 53);
	position: relative;
}

.clothes__card:hover .clothes__name {
	opacity: 1;
	/* bottom: 30%;
	left: 30%; */
	top: 0;
	left: 0;

	vertical-align: middle;
	/* padding-top: 20%; */
}

.clothes__card:hover .clothes__img {
	/* background: #070064; */
	/* filter: grayscale(1); */
}

.clothes__name {
	position: absolute;

	color: rgb(255, 255, 255);
	text-decoration: none;
	text-transform: uppercase;
	font-family: AmaticSC;
	/* left: 30%;
	bottom: 0; */
	opacity: 0;
	transition: 1s;
	font-size: 28px;
	margin: 0;

	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.658);
	text-align: center;
}

.clothes__bottom {
	background: rgba(213, 2, 255, 0.623);
	margin: 0;
	padding: 10px;
	border-top-left-radius: 20px;
	/* border-bottom-left-radius: 20px; */
	position: absolute;

	bottom: 0;
	right: 0;
}

.clothes__price {
	color: white;
}
.clothes_card--delete {
	position: absolute;
	top: 0;
	right: 0;
	color: red;
	font-size: 30px;
	z-index: 10000;
}

.edit__button {
	background: black;
	color: white;
	border-radius: 100px;
	padding: 10px;
	border: none;
	cursor: pointer;
}

#my-slider {
	color: rgb(0, 0, 0);
}
.filter__block {
	width: 40%;
}
.clothes__filter {
	color: white;
	cursor: pointer;
}

.filter__top {
	display: flex;
}

.filter__price {
	font-family: AmaticSC;
	font-size: 20px;
	font-weight: 600;
	display: flex;
	justify-content: space-between;
}

.filter__title {
	font-family: AmaticSC;
	margin-bottom: 0;
}

.filter__label{
	font-family: AmaticSC;
	font-weight: 600;
	font-size: 1.2em;
}

.filter__wrapper {
	display: flex;
	flex-wrap: wrap;
	width: 50%;
	margin-top: 15px;
	margin-left: 15px;
}

.filter__checkbox {
	display: block;
		
}

.filter__item {
	display: flex;
	align-items: baseline;
	width: 100px;
}

.filter__search {
	width: 100%;
	display: block;
	padding: 10px 0;
	background: transparent;
	color: white;
	margin: 40px 0;
}
.filter__apply {
	background: rgba(212, 0, 255, 0.8);
	color: white;
	border: none;
	font-family: AmaticSC;
	border-radius: 10px;
	padding: 10px 20px;
	/* width: 50%; */
	display: block;
	/* margin: 0 auto; */

	font-size: 24px;
	cursor: pointer;
	transition: 1s;
}

.filter__apply:hover {
	background: rgb(106, 2, 133);
}
